.nav {
  display: flex;

  &__item {
    margin-right: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: large;
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__link--active {
    color: red;
  }
}
